---
layout: project
---

### Adlibris

# Rebuilding the Nordic e-commerce giant

<a href="mailto:magnus.gyllensward@email.com">![Project Image](../images/projects/adlibris-placeholder.png "Project Image")</a>