---
layout: project
---

### tv.nu

# User Interface Projects

## Background
tv.nu is Sweden's largest aggregating streaming and linear TV guide with 2 million unique visitors each week. It was founded in 1999 and is today running on iOS, Android and the web.

![Project Image](images/projects/tv-ui1.png "Project Image")

## Challenges
at the start... the onset... issues with the UI... Promoting the streaming functionality was one aspect of the work, but doing so without being proud of the features – or having data to back them up – was obviously not an option.

## Insight
The projects were coupled with user studies and interviews where I tested features and prototypes, often letting users try and complete certain tasks on their own devices, while I observe everything that happens on the way to the goal; hesitations, missclicks and false assumptions.

When performing studies remotely, the following three steps have

![Project Image](images/projects/tv-strategy5.png "Project Image")
**By having users tilt their laptop screens I could see the way they interacted with the phone and the UI.**

![Project Image](images/projects/tv-strategy4.png "Project Image")
**Saving time by writing findings directly into a spreadsheet. Y-axis: users, X-axis: questions. Color codings: positive and negative remarks.**

![Project Image](images/projects/tv-ui15.png "Project Image")
**Findings presented along with video snippets as a foundation for workshops and brainstorms**

We also conduced a large study with the Human Experience firm <a href="https://www.augur.se/">Augur</a>, where we intervied people in their home environment, in front of their TVs and screens, to find out how they actually find content to watch. The findings let to a series of experiments that were sketched out, tested, implemented, analyzed, tweaked and taken further.

![Project Image](images/projects/tv-ui10.png "Project Image")
***When and where do people stream? And what do they do simultaneously?***

## Reviews Project
The process of finding interesting streaming content... browsing...evaluating... all while being in a fairly laid back and convenience (krävande)... mood. As we found ways of enhancing ...unconventional approach to the displaying of reviews. Instead of... on a detail view level, I wanted to see how much more attention the reviews would get if they were introduced on a browsing level. A placement like this could go hand in hand with the findings... Therefore we tried enhanced the existing carousel items with a side section for the review.

![Project Image](images/projects/tv-ui4.png "Project Image")
**A somewhat unconventional way of displaying reviews**

We realised measuring the number of clicks would not be useful in a sutuation like this, since reading a review could make the user go either way, getting more or less interested.
So instead we decided to set up a questionnaire as we launched the feature. In it we asked whether users found the newly added reviews useful.

![Project Image](images/projects/tv-ui3.png "Project Image")

While the results were positive with a large majority saying they did find them useful, we also got to find out that they were fairly ... spotted? – possibly due to the placement on a browsing level.

    ## Filter Project

    ...coherent across all pages and apps.... were verified with extensive user interviews.

    ***filters***

## Feed Project
When I started working with tv.nu, streaming content was presented with hand-made collections and lists filtered by popularity.

While collections can spark a lot of interest, they are time-consuming to make and can sometimes be too subjective. Filtering by popularity alone gives a very broad and undefined set of data. So we realized there was a need to improve this presentation.

Since interviews and studies showed such high demand for convenience, we wanted to give users a way to browse content by areas of interest and by mimicking what many streaming providers do, we introduced a feed for each streaming provider, as well as a general feed covering all providers relevant to each user. By creating a tool for programmatically creating lists for each feed we

![Project Image](images/projects/tv-ui8.png "Project Image")

## My Role at tv.nu
Throughtout all the projects at tv.nu, my role as Product design Lead was always in tight collaboration with the product owner, developers, management and the marketing team. I conducted user research and studies, facilitated workshops and brainstorms, created prototypes and specifications, taking ideas from whiteboards to implementation and following up to see what needed to be tweaked. I also managed the CSS for the web version of the app and by doing so, making sure the design was implemented correctly catering for all screens and devices. My work mostly focused on the web platform, where the design source of truth could be established as a reference for the apps as they caught up. Since tv.nu has so many – and so loyal – users it was always important to balance user needs with user expectations and to balance business and marketing goals with usability needs. Any change to the interface would stir up reactions – negative as well as positive.

