.clients-container {
  overflow: hidden;
  touch-action: pan-y; // tillåt bara vertikal scroll
  overscroll-behavior-x: contain; // förhindra "gummiband-effekt" i sidled
  background: $clients-background;
  cursor: grab;

  .triangle {
    fill: $what-i-do-background;
  }

  &:active {
    cursor: grabbing;
  }

  img {
    pointer-events: none;
    user-drag: none;
    -webkit-user-drag: none;
  }
}

.clients {
  display: flex;
  gap: 2rem;
  width: max-content;
  user-select: none;
  scroll-behavior: smooth;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  list-style: none;
  padding: 0 0 5rem;
  margin: 0;

  @media (max-width: $breakpoint) {
    padding: 3rem 0 3rem;
  }

  li {
    flex: 0 0 auto;
    list-style: none;

    img {
      opacity: 0.8;

      &.square-logo {
        max-width: 5em;
        max-height: 5em;
      }

      &.wide-logo {
        max-width: 9em;
      }

      &.wider-logo {
        max-width: 14em;
      }
    }
  }
}