.contact {
	background-color: $contact-background;
	position: relative;

	.triangle {
	  fill: $resume-background;
	}
}

.contact-content {
	position: relative;
	min-height: 25rem;
	padding-top: $container-padding-big;
	background-color: $contact-background;

	a {
		font-family: $font-header;
		color: $red;
		font-size: 1.2rem;
		text-decoration: none;
		text-transform: uppercase;
		background-color: $yellowish;
		padding: 1.2rem 2rem;
		border-radius: 4px;
		letter-spacing: .6px;
	}
}

.contact-content-text {
		text-align: center;
		padding-bottom: 9rem;
}

.to-the-top {
	text-align: center;
	padding-bottom: $container-padding-small;
}

.up-link {
	font-family: $font-header;	
	text-transform: uppercase;
	color: lighten($contact-background, 10);
	text-decoration: none;
}

.project-bottom-section .contact-content {
		.triangle {
	  	fill: $portfolio-background;
	}
}