.hero-container {
  background: $hero-background;
  padding: 0 2rem;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  padding: ($container-padding-small * 1.8) 0 $container-padding-small;
  margin: 0 auto;
  max-width: 950px;

  @media (max-width: $hero-first-breakpoint) {
    flex-direction: column-reverse;
    padding: 6rem 1rem 3rem;
    text-align: center;
  }
}

.hero-header {
  h1 {
    font-family: $font-viga;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin: 0;
    color: #d0d5d5;
    font-weight: 100;
    display: inline-block;
    padding: .2rem 0;
    border-bottom: 7px solid $red;

    @media (max-width: $hero-first-breakpoint) {
      font-size: 1.5rem;
      letter-spacing: 1px;
    }
  }

  p {
    font-family: $font-rubik;
    padding-top: .6rem;
    margin-top: 2rem;
    max-width: 530px;
    color: white;
    opacity: .8;
    letter-spacing: -.4px;
    font-size: 1.1rem;

    @media (max-width: $hero-first-breakpoint) {
      text-align: center;
      font-size: 1rem;
      margin: 2rem auto 0;
    }

    span {
      font-family: $font-rubik;
      font-weight: 700;
    }
  }
}

.mugshot {
  width: 24rem;
  height: 24rem;

  @media (max-width: $hero-first-breakpoint) {
    width: 11rem;
    height: 11rem;
    margin: 0 auto 2rem;
  }
}

.photo {
  border-radius: 12rem;
  border: 11px solid darken($hero-background, 1%);
  margin: 0 2rem 0 0;

  @media (max-width: $hero-first-breakpoint) {
    margin: auto;
  }
}