.navigation {
  $medium-screen: 45em !default;
  background: $hero-background;
  padding: .8rem;
  position: fixed;
  z-index: 2;
  width: 100%;
  min-width: 320px;

  // Mobile view
  .navigation-menu-button {
    display: block;
    float: right;
    margin: 0;
    line-height: 1.3;
    font-size: 1rem;

    @media (min-width: $medium-screen) {
      display: none;
    }
  }

  // Nav menu
  .navigation-wrapper {
    position: relative;

    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }

  h1 {
    margin: 0;
    a {
      font-size: 1rem;
      text-align: left;
      color: white;
      float: left;
      font-weight: 400;
      line-height: 1.3;
      letter-spacing: .3px;
      text-shadow: 0 1px 1px transparentize(black, 0.7);
      margin-bottom: 0;
      font-family: $font-small-header;
    }
  }

  nav {
    float: none;

    @media (min-width: $medium-screen) {
      float: right;
      text-align: center;
      line-height: 1.5em;
      padding-top: 0;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 1rem 0 0 0;
    width: 100%;

    @media (min-width: $medium-screen) {
      display: block;
      margin: 0;
      padding: 0;
    }

    &.show {
      display: block;
    }
  }

  // Nav items
  ul li.nav-link {
    display: block;
    text-align: center;
    width: 100%;

    @media (min-width: $medium-screen) {
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto;
    }
  }

  li.nav-link a {
    display: inline-block;
  }

  a {
    font-family: $font-small-header;
    font-family: $font-header;
    font-weight: 400;
    letter-spacing: .3px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: .08rem .2rem;
    font-size: 0.9rem;

    &:hover {
      color: lighten(#44807f, 10);
    }

    @media (max-width: $medium-screen) {
      display: inline-block;
      margin-bottom: 1rem;
      padding-bottom: .3rem;
    }
  }
}
