$project-padding: 20px;

.portfolio-with-text-container {
  background: $portfolio-background;
  padding-top: $container-padding-big;
  position: relative;

  h1, h2 {
    color: $dark-font-color;
  }

  .triangle {
    fill: $clients-background;
  }
}

.portfolio-container {
  background: $portfolio-background;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 6rem;
  max-width: 1200px;
  margin: auto;

  @media (max-width: $breakpoint) {
    padding: 1rem;
  }
}

.project-item {
  flex-basis: 18rem;
  padding: 2rem 1rem;
  text-decoration: none;

  @media (max-width: $breakpoint) {
    padding: 0rem 0rem 3rem 0rem;
    flex-basis: 20rem;
  }

  img {
    box-shadow: 0 1px 3px #00000033;
    margin-bottom: .8rem;

    @media (max-width: $breakpoint) {
    }
  }

  h3, h4 {
    color: $dark-font-color;
    font-size: .7rem;
    margin: 0;
  }

  h3 {
    color: transparentize($dark-font-color, 0.5);
    font-weight: 400;
    margin-bottom: 0.1rem;
  }
}