.back-arrow {
	position: fixed;
	top: 5rem;
	left: 2rem;
	z-index: 2;

	@media (max-width: $breakpoint) {
		display: none;
	}

	img {
		height: 2.5rem;
		width: 2.5rem;
		display: block;
	}
}

.project {
	background: $project-background;
	width: 100vw;
	padding-bottom: 8rem;

	@media (max-width: $breakpoint) {
		padding-bottom: 5rem;
	}
}

.project-container {
	max-width: 666px;
	padding-top: 5rem;
	margin: 0 auto;

	@media (max-width: $breakpoint) {
		padding: 5rem 1rem 0;
	}

	img {
		margin-top: 2rem;
		margin-bottom: 1rem;
		border-radius: 3px;

		@media (max-width: $breakpoint) {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
	}

	h1 {
		text-align: left;
		color: $dark-font-color;
		margin-bottom: 3rem;

		@media (max-width: $breakpoint) {
			margin-bottom: 1rem;
		}
	}

	h2 {
		text-align: left;
		color: $dark-font-color;
		margin: 3rem 0 1rem 0;
		font-weight: 800;
		font-size: 1.2rem;
		padding: 0;

		@media (max-width: $breakpoint) {
			font-size: 1.2rem;
			margin: 1.5rem 0 1rem 0;
		}
	}

	p,
	a {
		color: $dark-font-color;
		font-size: 1.1rem;
		margin-bottom: 1rem;

		@media (max-width: $breakpoint) {
			font-size: 1rem;
			margin-bottom: 1rem;
		}
	}

	ul {
		border: 1px solid silver;
		padding: 1.2rem 1rem 1.5rem;
		border-radius: 6px;
		color: $dark-font-color;
		font-size: 1.1rem;
		margin-top: 2rem;
		margin-bottom: 3rem;
		padding-inline-start: 2.2rem;
		box-shadow: 0 7px 52px #0000001a;

		li {
			margin-bottom: 9px;
		}

		em {
			font-weight: bold;
			font-style: none !important;
		}


		@media (max-width: $breakpoint) {
			font-size: 0.9rem;
			margin-bottom: 2rem;
		}
	}

	strong {
		// caption
		color: #aeb2ba;
		display: block;
		text-align: center;
		font-style: italic;
		font-size: 0.8rem;
		max-width: 26rem;
		margin: auto;
		margin-top: -0.1rem;
		margin-bottom: 2rem;
	}

	code {
		display: none;
	}

	.project-end {
		height: 3px;
		width: 46px;
		background-color: transparent;
	}
}

.project-bottom-section {
	padding-top: 6rem;
	position: relative;
	background-color: $portfolio-background;
	color: $light-color;
	width: 100vW;
}

.project-triangle {
	height: 100px;
	margin-top: -100px;

	@media (max-width: $breakpoint) {
		height: 50px;
	}
}