$content-main-width: 666px;
$content-hero-width: 100%;
$content-wide-width: 800px;
$content-extra-wide-width: 1200px;

.back-arrow {
  position: fixed;
  top: 5rem;
  left: 2rem;
  z-index: 2;

  @media (max-width: $breakpoint) {
    display: none;
  }

  img {
    height: 2.5rem;
    width: 2.5rem;
    display: block;
  }
}

.project {
  background: $project-background;
  width: 100%;
  padding-bottom: 8rem;

  @media (max-width: $breakpoint) {
    padding-bottom: 5rem;
  }
}

.project-container {
  padding-top: 3rem;
  margin: 0 auto;

  .hero {
    max-width: $content-hero-width;
    padding: 0;
    margin: 0;
    border-radius: 0;
    height: 400px;
    object-fit: cover;
    width: 100%;

    @media (max-width: $breakpoint) {
      padding: 0;
      height: 100%;
    }
  }

  .hero-logo {
    max-width: 200px;
    margin: 4rem auto 5rem auto;
    display: block;

    @media (max-width: $breakpoint) {
      max-width: 100px;
      margin: 1rem auto 0 auto;
    }
  }

  h1 {
    max-width: $content-main-width;
    text-align: left;
    color: $dark-font-color;
    margin: auto;
    margin-bottom: 3rem;

    @media (max-width: $breakpoint) {
      margin-bottom: 1rem;
      padding: 0 1rem;
      margin: 0 0 2rem 0
    }
  }


  h2 {
    max-width: $content-main-width;
    text-align: left;
    color: $dark-font-color;
    margin: 3rem auto 1rem auto;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 0;

    @media (max-width: $breakpoint) {
      font-size: 1.2rem;
      margin: 1.5rem 0 1rem 0;
      padding: 0 1rem;

    }
  }

  h3 {
    max-width: $content-main-width;
    text-align: left;
    color: $dark-font-color;
    margin: 2rem auto 2rem auto;
    display: block;

    @media (max-width: $breakpoint) {
      margin: 0 0 2rem 1rem;
      display: inline-block;
    }
  }

  p:not(:has(img)) {
    max-width: $content-main-width;
    color: $dark-font-color;
    font-size: 1.1rem;
    margin: auto;
    margin-bottom: 1rem;

    @media (max-width: $breakpoint) {
      font-size: 1rem;
      margin: 0 0 2rem 0;
      padding: 0 1rem;
    }
  }

  img {
    max-width: $content-main-width;
    margin: 2rem auto 1rem auto;
    border-radius: 3px;
    display: block;

    @media (max-width: $breakpoint) {
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 0 1rem;
    }
  }

  img.wide-image {
    max-width: $content-wide-width;
    padding: 0 1rem;

    @media (max-width: $breakpoint) {
      padding: 0 1rem;
    }
  }

  img.extra-wide-image {
    max-width: $content-extra-wide-width;
    padding: 0 1rem;

    &.shadow {
      box-shadow: 0 7px 52px #0000001a;
    }
  }


  ul {
    max-width: $content-main-width;
    border: 1px solid silver;
    padding: 1.2rem 1rem 1.5rem;
    border-radius: 6px;
    margin: auto;
    color: $dark-font-color;
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding-inline-start: 2.2rem;
    box-shadow: 0 7px 52px #0000001a;

    @media (max-width: $breakpoint) {
      margin: 0 1rem;
    }

    li {
      margin-bottom: 9px;
    }

    em {
      font-weight: bold;
      font-style: none !important;
    }


    @media (max-width: $breakpoint) {
      font-size: 0.9rem;
      margin-bottom: 2rem;
    }
  }

  strong {
    // caption
    color: #aeb2ba;
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
    max-width: 26rem;
    padding: 0 1rem;
    margin: auto;
    margin-top: -0.1rem;
    margin-bottom: 2rem;
  }

  code {
    display: none;
  }

  .project-end {
    height: 3px;
    width: 46px;
    background-color: transparent;
  }
}

.project-bottom-section {
  padding-top: 6rem;
  position: relative;
  background-color: $portfolio-background;
  color: $light-color;
  width: 100%;
}

.project-triangle {
  height: 100px;
  margin-top: -100px;

  @media (max-width: $breakpoint) {
    height: 50px;
  }
}