.top-resume {
  @include top($resume-background, $portfolio-background);
}

.resume-container {
  text-align: center;
  width: 100vw;
  display: inline-block;
  background: $resume-background;
}

.resume {
  color: $dark-font-color;
  text-align: left;
  max-width: $max-width;
  margin: auto;

  @media (max-width: $breakpoint) {
    padding: 1em;
  }


  a {
    color: $dark-font-color;
  }

  .resume-header {
    margin: 5em 0;
  }

  h6 {
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    text-align: left;
    margin: 1rem 0;
    font-weight: 800;
  }

  h3 {
    display: inline;
    font-size: 1.2em;
  }

  h4 {
    display: inline;
    font-size: 1.2em;
    font-family: $font-serif;
    font-style: italic;
  }

  h5 {
    color: desaturate(darken($resume-background, 20%), 30%);
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }

  p {
    line-height: 1.6;
    margin: 0 auto 3em;
  }

  .scroll-on-page-link {
    background: $dark-font-color;
    display: inline-block;
    color: $light-font-color;
    padding: 1em 2em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }

  .blurb {
    margin-top: 7em;
    font-style: italic;
  }
}

.resume-print-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $dark-font-color;
  color: $light-font-color;
  height: 4em;
  width: 4em;
  border-radius: 50%;

  img {
    height: 1.5em;
    width: 1.5em;
  }
}