$serif: 'georgia', serif;
$resume-font-size: 12px;
$resume-font-color: #313131;
$sans-thin-2: 'Oswald', sans-serif;
$sans-2: 'Source Sans Pro', sans-serif;

.resume-print {
  background: white;
  display: flex;
  padding: 4em;
  max-width: 40em;
  margin: auto;
  background: white;

  @media (max-width: $resume-breakpoint) {
    display: block;
  }

  aside {
    text-align: right;
    display: inline-block; 
    margin-right: 3em;
    padding-bottom: 1em;

    @media (max-width: $resume-breakpoint) {
      text-align: left;
      width: 100%;
    }
    
    h1 {
      text-transform: uppercase;
      display: inline-block;
      color: $resume-font-color;
      font-family: $sans-thin-2;
      font-size: $resume-font-size * 1.2;
      font-weight: 800;
      margin: 0 0 1em;
    }

    p {
      color: $resume-font-color;
      font-size: $resume-font-size;
      font-weight: 400;
      font-family: $sans-2;
      line-height: $resume-font-size * 1.5;
      margin: 0;

      &:last-child {
        margin-top: 1em;
      }

      span {
        font-family: $serif;
        font-size: $resume-font-size * 1.1;
      }
    }
  }

  article {
    width: 24em;

    @media (max-width: $resume-breakpoint) {
      text-align: left;
      width: 100%;
    }

    h2 {
      text-transform: uppercase;
      display: block;
      color: $resume-font-color;
      font-size: $resume-font-size * .7;
      font-weight: 600;
      border-bottom: 1px solid lighten($resume-font-color, 40);
      padding-bottom: .7em;
      margin: 0 0 1.5em;
    }

    h3 { // headers
      color: $resume-font-color;
      display: inline-block;
      font-size: $resume-font-size * 1.1;
      font-family: $serif;
      font-weight: 600;
      margin: 0 0 .4em 0;
    }

    h4 { // place
      color: $resume-font-color;
      font-size: $resume-font-size * 1.1;
      font-family: $serif;
      font-weight: 600;
      margin: 0 0 .4em 0;
      display: inline-block;
      font-family: $serif;
      font-style: italic;
      font-weight: 400;
    }

    h5 { // date
      color: $resume-font-color;
      font-size: $resume-font-size;
      font-weight: 400;
      font-family: $serif;
      margin: 0 0 .5em;
    }

    h6 { // date
      color: $resume-font-color;
      font-size: $resume-font-size;
      font-weight: 400;
      font-family: $serif;
      margin: 0 0 .5em;
    }

    p {
      color: $resume-font-color;
      font-size: $resume-font-size;
      font-weight: 400;
      font-family: $sans-2;
      margin: 0 0 2.4em;
      line-height: 1.5;
    }
  }
}
