.resume-container {
  width: 100%;
  display: inline-block;
  background: $resume-background;
  padding-top: $container-padding-big;
  position: relative;

  .triangle {
    fill: $portfolio-background;
  }
}

.resume {
  color: white;
  text-align: left;
  max-width: $max-width;
  margin: auto;

  @media (max-width: $breakpoint) {
    padding: 1em;
  }

  a {
    color: $dark-font-color;
  }

  h6 {
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    opacity: .8;
    text-align: left;
    margin: 1rem 0;
    font-weight: 800;
  }

  h3 {
    display: inline;
    font-size: 1.2em;
  }

  h4 {
    display: inline;
    font-size: 1.2em;
    font-family: $font-rubik;
  }

  h5 {
    color: white;
    opacity: .8;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    margin-top: .7em;
    font-weight: 800;
  }

  p {
    line-height: 1.6;
    opacity: .8;
    font-family: $font-rubik;
    margin: 0 auto 3em;
  }

  .scroll-on-page-link {
    background: $dark-font-color;
    display: inline-block;
    color: $light-font-color;
    padding: 1em 2em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }

  .blurb {
    margin-top: 7em;
    font-style: italic;
  }
}

.resume-print-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $dark-font-color;
  color: black;
  height: 4em;
  width: 4em;
  border-radius: 50%;

  img {
    height: 1.5em;
    width: 1.5em;
  }
}