// @font-face {
//   font-family: 'peace';
//   src: url('../fonts/peace.otf');
//   // din.otf in folder source > fonts
// }

@font-face {
  font-family: 'norwester';
  src: url('../fonts/norwester.otf');
  // din.otf in folder source > fonts
}

$breakpoint: 680px;
$hero-first-breakpoint: 900px;
$resume-breakpoint: 500px;

$dark-background: #0a3231;

$hero-background: $dark-background;
$body-color: $hero-background;
$what-i-do-background: #d7fffe;
$clients-background: $dark-background;
$highlight-background: #ffde66;
$portfolio-background: white;
$project-background: white;
$resume-background: $dark-background;
$contact-background: $hero-background;

$what-i-do-max-width: 900px;
$yellowish: beige;
$red: #f36d6d;
$dark: #131515;

$vertical-space: 1rem;
$light-font-color: $what-i-do-background;
$dark-font-color: $dark;
$max-width: 666px;

$container-padding-small: 4rem;
$container-padding-big: 10rem;

$container-padding-mobile: 9rem 1rem 2rem;

$container-padding: 10rem 5rem 5rem 5rem;

$font-viga: 'Viga', sans-serif;
$font-header: 'norwester', helvetica, sans-serif;
$font-small-header: 'Oswald', helvetica, sans-serif;
$font-serif: 'Merriweather', serif;
$font-rubik: 'Rubik', sans-serif;

@mixin top($foreground, $background) {
  height: 0;
  border-style: solid;
  border-width: 100px 0 0;
  border-color: $background transparent transparent $foreground;  
}

 @mixin bottom ($foreground, $background) {
  height: 0;
  border-style: solid;
  border-width: 100px 0 0 100vw;
  border-color: transparent transparent $foreground $background;
}

// triangle
svg {
  position: absolute;
  top: -.5px;
  width: 100%;
  height: 100px;

  @media (max-width: $breakpoint) {
    height: 50px;
  }
}

@import "normalize";
@import "prism";
@import "navigation";
@import "hero";
@import "what-i-do";
@import "clients";
@import "portfolio";
@import "project";
@import "resume";
@import "highlight";
@import "resume-print";
@import "contact";
@import "case";

body, html {
  -webkit-font-smoothing: antialiased;
  color: $light-font-color;
  background-color: $body-color;
  margin: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

.scroll-link {
  font-size: 0;
}

a {
  color: $light-font-color;
}

h1 {
  font-family: $font-viga;
  font-family: $font-header;
  text-transform: uppercase;
  letter-spacing: -.5px;
  margin: 0 auto 1rem;
  font-weight: 100;
  text-align: center;

  @media (max-width: $breakpoint) {
    font-size: 1.4rem;
  }
}

h2 {
  margin: 0 auto 3rem;
  max-width: 570px;
  font-size: 1.4rem;
  font-family: $font-serif;
  font-style: italic;
  text-align: center;
  font-weight: 100;
  line-height: 1.5;

  @media (max-width: $breakpoint) {
    font-size: 1.2rem;
    margin: 0 auto 4rem;
    padding: 0 1rem;
  }
}

h3 {
	color: $dark-font-color;
	text-transform: uppercase;
	border-bottom: 2px solid;
	font-family: $font-small-header;
	display: inline-block;
	font-weight: 400;
	font-size: 1rem;
	margin-top: 2rem;

	@media (max-width: $breakpoint) {
		margin-top: .7rem;
	}
}

h5 {
  font-size: .7rem;
  margin: 0;
  color: transparentize($dark-font-color, 0.3);
  font-weight: 400;
  margin-bottom: 0.1rem;
}

p, ul {
  font-family: $font-serif;
  font-size: 1rem;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;

  @media (max-width: $breakpoint) {
    font-size: 0.9em;
  }
}

img {
  width: 100%;
}

li {
  list-style: circle;
}
