@font-face {
  font-family: 'peace';
  src: url('../fonts/peace.otf');
  // din.otf in folder source > fonts
}

@font-face {
  font-family: 'norwester';
  src: url('../fonts/norwester.otf');
  // din.otf in folder source > fonts
}

$breakpoint: 680px;
$background-color: #393c3e;

$body-color: black;

$hero-color: #231F1F;
$clients-background: black;
$portfolio-background: #fbfbf3;
$project-background: #efefe7;
$resume-background: #ffced6;
$contact-background: #455245;

$what-i-do-max-width: 900px;
$yellowish: beige;
$what-i-do-background: $yellowish;

$vertical-space: 1rem;
$light-font-color: #E2DDC5;
$dark-font-color: #393c3e;
$max-width: 666px;
$resume-breakpoint: 500px;

$container-padding: 5rem;

$font-header: 'norwester', helvetica, sans-serif;
$font-small-header: 'Oswald', helvetica, sans-serif;
$font-serif: 'Merriweather', serif;

@mixin top($foreground, $background) {
  height: 0;
  border-style: solid;
  border-width: 100px 0 0 100vw;
  border-color: $background transparent transparent $foreground;  
}

 @mixin bottom ($foreground, $background) {
  height: 0;
  border-style: solid;
  border-width: 100px 0 0 100vw;
  border-color: transparent transparent $foreground $background;
}


@import "normalize";
@import "prism";
@import "hero";
@import "what-i-do";
@import "clients";
@import "portfolio";
@import "project";
@import "resume";
@import "resume-print";
@import "contact";

body {
  -webkit-font-smoothing: antialiased;
  color: $light-font-color;
  background-color: $body-color;
  margin: 0;
}

.scroll-link {
  font-size: 0;
}

a {
  color: $light-font-color;
}

h1 {
  font-family: $font-header;
  text-transform: uppercase;
  margin: 0 auto 1rem;
  font-weight: 100;
  text-align: center;
}

h2 {
  margin: 0 auto 3rem;
  max-width: 570px;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 100;
  line-height: 1.4;
}

p {
  font-family: $font-serif;
  font-size: 0.9rem;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;

  @media (max-width: $breakpoint) {
    font-size: 0.9em;
  }
}

img {
  width: 100%;
}
