<h4 class="scroll-link" id="scroll-link-2"></h4>

<div class="case-container">
  <%= partial "triangle" %>
    
    <div class="case">
    	<div class="case-text">
    		<h3>tv.nu</h3>
	      <h1>Selected Cases</h1>
	      <h2>Some examples of recent cases.</h2>
	    </div>
	    <div class="case-image">
	      <% link_to 'projects/aerocrine.html', :class => 'project-item' do %>
	        <img src="/images/projects/aerocrine2.png" alt="Aerocrine Niox Vero medical device interface design project"/>
	      <% end %>
	    </div>
    </div>
</div>

<!-- <div class="bottom-clients"></div> -->
