<h4 class="scroll-link" id="scroll-link-2"></h4>

<div class="clients-container">
    <div class="clients">
      <h1>Clients & Companies</h1>
      <h2>A list of selected companies I have collaborated with. Shorter projects for some, longer and multiple assignments for others.</h2>
      <ul class="logo-section">
        <li><img class="wide-logo" src="/images/placeholder_wide.svg" alt=""></li>
        <li><img class="square-logo" src="/images/logos/huawei.png" alt=""></li>
        <li><img class="wider-logo" src="/images/logos/electrolux.png" alt=""></li>
        <li><img class="wide-logo" src="/images/logos/ii.png" alt=""></li>
        <li><img class="square-logo" src="/images/logos/ericsson.png" alt=""></li>
        <li><img class="wide-logo" src="/images/logos/swegon.png" alt=""></li>
        <li><img class="wide-logo" src="/images/logos/veryday.png" alt=""></li>
        <li><img class="square-logo" src="/images/logos/fdn.png" alt=""></li>
        <li><img class="wide-logo" src="/images/logos/fundedbyme.png" alt=""></li>
        <li><img class="square-logo" src="/images/logos/philips.png" alt=""></li>
        <li><img class="wide-logo" src="/images/logos/tellart.png" alt=""></li>
        <li><img class="wide-logo" src="/images/logos/telenor.png" alt=""></li>
        <li><img class="square-logo" src="/images/logos/roche.png" alt=""></li>
        <li><img class="square-logo" src="/images/logos/inuse.png" alt=""></li>
        <li><img class="wide-logo" src="/images/logos/spotify.png" alt=""></li>
        <li><img class="square-logo" src="/images/logos/nyarp.png" alt=""></li>
        <li><img class="wide-logo" src="/images/logos/spintso.png" alt=""></li>
        <li><img class="wide-logo" src="/images/logos/xylem.png" alt=""></li>
        <li><img class="wider-logo" src="/images/logos/thoughtbot.png" alt=""></li>
        <li><img class="wide-logo" src="/images/logos/aerocrine.png" alt=""></li>
        <li><img class="wide-logo" src="/images/logos/gameface.png" alt=""></li>
      </ul>
    </div>
</div>

<div class="bottom-clients"></div>