<h4 class="scroll-link" id="scroll-link-2"></h4>

<div class="clients-container">
  <div class="clients">
    <ul class="logo-section">
      <li><img class="wide-logo" src="/images/logos/adlibris.png" alt=""></li>
      <li><img class="square-logo" src="/images/logos/mindler.png" alt=""></li>
      <li><img class="wide-logo" src="/images/logos/spotify.png" alt=""></li>
      <li><img class="square-logo" src="/images/logos/epi.png" alt=""></li>
      <li><img class="square-logo" src="/images/logos/tvnu.png" alt=""></li>
      <li><img class="square-logo" src="/images/logos/philips.png" alt=""></li>
      <li><img class="square-logo" src="/images/logos/huawei.png" alt=""></li>
      <li><img class="wider-logo" src="/images/logos/electrolux.png" alt=""></li>
      <li><img class="square-logo" src="/images/logos/ericsson.png" alt=""></li>
      <li><img class="wide-logo" src="/images/logos/swegon.png" alt=""></li>
      <li><img class="wide-logo" src="/images/logos/veryday.png" alt=""></li>
      <li><img class="wide-logo" src="/images/logos/tellart.png" alt=""></li>
      <li><img class="wide-logo" src="/images/logos/telenor.png" alt=""></li>
      <li><img class="square-logo" src="/images/logos/roche.png" alt=""></li>
      <li><img class="square-logo" src="/images/logos/inuse.png" alt=""></li>
      <li><img class="square-logo" src="/images/logos/nyarp.png" alt=""></li>
      <li><img class="wide-logo" src="/images/logos/xylem.png" alt=""></li>
      <li><img class="wider-logo" src="/images/logos/thoughtbot.png" alt=""></li>
      <li><img class="wide-logo" src="/images/logos/aerocrine.png" alt=""></li>
    </ul>
    <ul class="logo-section">
      <!-- samma logor igen för sömlös loop -->
      <li><img class="wide-logo" src="/images/logos/adlibris.png" alt=""></li>
      <li><img class="square-logo" src="/images/logos/mindler.png" alt=""></li>
      <li><img class="square-logo" src="/images/logos/huawei.png" alt=""></li>
      <li><img class="wider-logo" src="/images/logos/electrolux.png" alt=""></li>
      <li><img class="square-logo" src="/images/logos/ericsson.png" alt=""></li>
      <li><img class="wide-logo" src="/images/logos/swegon.png" alt=""></li>
      <li><img class="wide-logo" src="/images/logos/veryday.png" alt=""></li>
      <li><img class="square-logo" src="/images/logos/philips.png" alt=""></li>
      <li><img class="wide-logo" src="/images/logos/tellart.png" alt=""></li>
      <li><img class="wide-logo" src="/images/logos/telenor.png" alt=""></li>
      <li><img class="square-logo" src="/images/logos/roche.png" alt=""></li>
      <li><img class="square-logo" src="/images/logos/inuse.png" alt=""></li>
      <li><img class="wide-logo" src="/images/logos/spotify.png" alt=""></li>
      <li><img class="square-logo" src="/images/logos/nyarp.png" alt=""></li>
      <li><img class="square-logo" src="/images/logos/tvnu.png" alt=""></li>
      <li><img class="square-logo" src="/images/logos/epi.png" alt=""></li>
      <li><img class="wide-logo" src="/images/logos/xylem.png" alt=""></li>
      <li><img class="wider-logo" src="/images/logos/thoughtbot.png" alt=""></li>
      <li><img class="wide-logo" src="/images/logos/aerocrine.png" alt=""></li>
    </ul>
  </div>
</div>
