<h4 class="scroll-link" id="scroll-link-5"></h4>
<div class="contact-index-top"></div>
<div class="contact">
	<%= partial "contact-content" %>
	<a class="scroll-on-page-link up-link" href="#scroll-on-page-top">
		To the top
	</a>
</div>