<h4 class="scroll-link" id="scroll-link-5"></h4>
<div class="contact">
	<%= partial "contact-content" %>
	<div class="to-the-top">
		<a class="scroll-on-page-link up-link" href="#scroll-on-page-top">To the top</a>
	</div>
</div>