<div class="scroll-link" id="scroll-on-page-top"></div>

<div class="hero-container">
  <div class="hero-content">
    <div class="hero-header">
      <h1>UX / UI Design</h1>
      <br>
      <h1>Graphic Design</h1>
      <br>
      <h1>Frontend Design</h1>
      <p><span>I'm a User Experience and Graphic Designer</span> based in Stockholm, Sweden. Since 2004 I have been helping clients and companies building useful and efficient products and interfaces.</p>
    </div>
    <div class="mugshot">
      <img class="photo" src="/images/jag.png" alt="">
    </div>
  </div>
</div>
