<div class="scroll-link" id="scroll-on-page-top"></div>

<div class="hero-container">
  <div class="hero-header">
    <h3>Interaction Design</h3>
    <br>
    <h3>Graphic Design</h3>
    <br>
    <h3>Frontend Design</h3>
  </div>

<!--   <div class="hero">
    <img class="photo" src="/images/jag.png" alt="">
    <div class="hero-text">
      <p>I'm an Interaction and Graphic Designer based in Stockholm, Sweden. Since 2004 I have been helping clients and companies building useful and efficient products and interfaces.</p>
   </div>
  </div>
</div> -->
