<div class="scroll-link" id="scroll-on-page-top"></div>

<div class="hero-container">
  <div class="hero-header">
    <h3>Interaction Design</h3>
    <br>
    <h3>Graphic Design</h3>
    <br>
    <h3>Frontend Design</h3>
  </div>

  <div class="hero">
    <img class="photo" src="/images/jag.png" alt="">
    <div class="hero-text">
      <h1>Magnus Gyllenswärd</h1>
      <p>I'm an Interaction and Graphic Designer based in Stockholm, Sweden. Since 2004 I have been helping clients and companies building useful and efficient products and interfaces.</p>
      <div class="scroll-on-page-links">
         <a class="scroll-on-page-link what-link" href="#scroll-link-1">What I Do</a>
         <a class="scroll-on-page-link clients-link" href="#scroll-link-2">Clients</a>
         <a class="scroll-on-page-link portfolio-link" href="#scroll-link-3">Portfolio</a>
         <a class="scroll-on-page-link resume-link" href="#scroll-link-4">Resume/CV</a>
         <a class="scroll-on-page-link contact-link" href="#scroll-link-5">Contact</a>
      </div>
   </div>
  </div>
</div>
