<h4 class="scroll-link" id="scroll-link-3"></h4>

<div class="highlight-with-text-container">
  <%= partial "triangle" %>
	
  <h1>Product Design Lead at tv.nu</h1>
  <h2>Through a myriad of projects I helped tv.nu take steps from being a linear TV guide to becoming a modern streaming and TV guide.</h2>

  <div class="highlight-container">
  	<div class="highlight">

  		<% link_to 'projects/tv-strategy.html', :class => 'project-item' do %>
  		  <img src="/images/projects/tv-strategy1.png" alt="TV.nu strategy and user research documentation"/>
  		  <div class="project-text">
  		    <h5>tv.nu</h5>
  		    <h4>Strategy Overhaul</h4>
  		  </div>
  		<% end %>

  		<% link_to 'projects/tv-ui.html', :class => 'project-item' do %>
  		  <img src="/images/projects/tv-ui1.png" alt="TV.nu user interface design and wireframes"/>
  		  <div class="project-text">
  		    <h5>tv.nu</h5>
  		    <h4>User Interface Projects</h4>
  		  </div>
  		<% end %>

  		<% link_to 'projects/tv-graphics.html', :class => 'project-item' do %>
  		  <img src="/images/projects/tv-graphics1.png" alt="TV.nu graphic design elements and visual identity"/>
  		  <div class="project-text">
  		    <h5>tv.nu</h5>
  		    <h4>Graphics Projects</h4>
  		  </div>
  		<% end %>

	  </div>
  </div>
</div>
