<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <h1><a href="/index.html">Magnus Gyllenswärd Design</a></h1>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show scroll-on-page-links">
        <li class="nav-link"><a class="scroll-on-page-link portfolio-link" href="#scroll-link-3">Portfolio</a></li>
        <li class="nav-link"><a class="scroll-on-page-link resume-link" href="#scroll-link-4">Resume/CV</a></li>
        <li class="nav-link"><a class="scroll-on-page-link contact-link" href="#scroll-link-5">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>