<div class="portfolio-container">
  <div class="portfolio">

    <% link_to 'projects/health-care.html', :class => 'project-item' do %>
      <img src="/images/projects/6_3.png"/>
      <div class="project-text">
        <h3>Veryday</h3>
        <h4>Future Health Care Concept</h4>
      </div>
    <% end %>

    <% link_to 'projects/aerocrine.html', :class => 'project-item' do %>
      <img src="/images/projects/aerocrine2.png"/>
      <div class="project-text">
        <h3>Aerocrine</h3>
        <h4>Niox Vero</h4>
      </div>
    <% end %>

    <% link_to 'projects/nyarp.html', :class => 'project-item' do %>
      <img src="/images/projects/nyarp5.png"/>
      <div class="project-text">
        <h3>Nyarp</h3>
        <h4>E-commerce Site</h4>
      </div>
    <% end %>

    <% link_to 'projects/insight-pump.html', :class => 'project-item' do %>
      <img src="/images/projects/insight-pump2.jpg"/>
      <div class="project-text">
        <h3>Roche Diagnostics</h3>
        <h4>Insulin Pump Interface</h4>
      </div>
    <% end %>

    <% link_to 'projects/spotify.html', :class => 'project-item' do %>
      <img src="/images/projects/27.jpg" data-adaptive-background/>
      <div class="project-text">
        <h3>Spotify</h3>
        <h4>Application for Windows Phone 7</h4>
      </div>
    <% end %>
    
    <% link_to 'projects/swegon.html', :class => 'project-item' do %>
      <img src="/images/projects/34.png" data-adaptive-background>
      <div class="project-text">
        <h3>Swegon</h3>
        <h4>Air Handling Unit</h4>
      </div>
    <% end %>

    <% link_to 'projects/itt.html', :class => 'project-item' do %>
      <img src="/images/projects/39_2.png" data-adaptive-background>
      <div class="project-text">
        <h3>ITT Flygt (now Xylem)</h3>
        <h4>Pump Station Interface</h4>
      </div>
    <% end %>

    <% link_to 'projects/sonicspree.html', :class => 'project-item' do %>
      <img src="/images/projects/29_6.png" data-adaptive-background>
      <div class="project-text">
        <h3>Veryday</h3>
        <h4>Sonicspree Music Game</h4>
      </div>
    <% end %>

    <% link_to 'projects/gameface.html', :class => 'project-item' do %>
      <img src="/images/projects/40_2.png" data-adaptive-background>
      <div class="project-text">
        <h3>Gameface Media</h3>
        <h4>Photo Gallery Application</h4>
      </div>
    <% end %>
    
    <% link_to 'projects/pinball.html', :class => 'project-item' do %>
      <img src="/images/projects/30_6.png" data-adaptive-background>
      <div class="project-text">
        <h3>Graphic Design Study</h3>
        <h4>Pinball Expo 2011</h4>
      </div>
    <% end %>
    
    <% link_to 'projects/chartpen.html', :class => 'project-item' do %>
      <img src="/images/projects/20_4.png">
      <div class="project-text">
        <h3>Chartpen</h3>
        <h4>Logo Design</h4>
      </div>
    <% end %>

    <% link_to 'projects/doro.html', :class => 'project-item' do %>
      <img src="/images/projects/doro1.jpg">
      <div class="project-text">
        <h3>Doro</h3>
        <h4>Mobile Phone Interfaces for Seniors</h4>
      </div>
    <% end %>

    <% link_to 'projects/barcamp.html', :class => 'project-item' do %>
      <img src="/images/projects/40.png">
      <div class="project-text">
        <h3>thoughtbot</h3>
        <h4>Barcamp Website</h4>
      </div>
    <% end %>

    <% link_to 'projects/fdn.html', :class => 'project-item' do %>
      <img src="/images/projects/38_2.png">
      <div class="project-text">
        <h3>FDN</h3>
        <h4>Logo Design</h4>
      </div>
    <% end %>

    <% link_to 'projects/earthworks.html', :class => 'project-item' do %>
      <img src="/images/projects/20.jpg">
      <div class="project-text">
        <h3>Graphic Design Study</h3>
        <h4>Earthworks Logo Design</h4>
      </div>
    <% end %>
    
    <% link_to 'projects/diabetes-education.html', :class => 'project-item' do %>
      <img src="/images/projects/37.png" data-adaptive-background>
      <div class="project-text">
        <h3>Roche Diagnostics</h3>
        <h4>Diabetes Education Tools</h4>
      </div>
    <% end %>

    <% link_to 'projects/sustainable-smartphone.html', :class => 'project-item' do %>
      <img src="/images/projects/35.png" data-adaptive-background>
      <div class="project-text">
        <h3>Concept Project</h3>
        <h4>Sustainable Smart Phone</h4>
      </div>
    <% end %>
    
    <% link_to 'projects/illustrations.html', :class => 'project-item' do %>
      <img src="/images/projects/31.png">
      <div class="project-text">
        <h3>Various Projects</h3>
        <h4>Illustrations</h4>
      </div>
    <% end %>
    
    <% link_to 'projects/sjnitke.html', :class => 'project-item' do %>
      <img src="/images/projects/18_2.jpg" data-adaptive-background>
      <div class="project-text">
        <h3>Graphic Design Study</h3>
        <h4>Albert Sjnitke Album Art</h4>
      </div>
    <% end %>
    
    <% link_to 'projects/book.html', :class => 'project-item' do %>
      <img src="/images/projects/5.jpg">
      <div class="project-text">
        <h3>Graphic Design Study</h3>
        <h4>Book Cover</h4>
      </div>
    <% end %>
    
    <% link_to 'projects/frutiger.html', :class => 'project-item' do %>
      <img src="/images/projects/11.jpg">
      <div class="project-text">
        <h3>Graphic Design Study</h3>
        <h4>Adrian Frutiger Exhibition</h4>
      </div>
    <% end %>
    
    <% link_to 'projects/recipes.html', :class => 'project-item' do %>
      <img src="/images/projects/26_2.jpg">
      <div class="project-text">
        <h3>Graphic Design Study</h3>
        <h4>Flowchart Recipes</h4>
      </div>
    <% end %>
    
    <% link_to 'projects/eastwood.html', :class => 'project-item' do %>
      <img src="/images/projects/32.png">
      <div class="project-text">
        <h3>Graphic Design Study</h3>
        <h4>Eastwood Coffee Packaging</h4>
      </div>
    <% end %>
    
    <% link_to 'projects/poetry.html', :class => 'project-item' do %>
      <img src="/images/projects/17_5.png">
      <div class="project-text">
        <h3>Graphic Design Study</h3>
        <h4>The American Poetry Review</h4>
      </div>
    <% end %>
    
    <% link_to 'projects/one-image.html', :class => 'project-item' do %>
      <img src="/images/projects/2.jpg">
      <div class="project-text">
        <h3>Graphic Design Study</h3>
        <h4>One Image One word</h4>
      </div>
    <% end %>
    
    <% link_to 'projects/portland.html', :class => 'project-item' do %>
      <img src="/images/projects/33.png">
      <div class="project-text">
        <h3>Graphic Design Study</h3>
        <h4>Portland General Electrics Annual Report 2011</h4>
      </div>
    <% end %>
    
    <% link_to 'projects/element.html', :class => 'project-item' do %>
      <img src="/images/projects/9.jpg">
      <div class="project-text">
        <h3>The Interactive Institute</h3>
        <h4>The Element Radiator</h4>
      </div>
    <% end %>
    
    <% link_to 'projects/power-aware-cord.html', :class => 'project-item' do %>
      <img src="/images/projects/8.jpg">
      <div class="project-text">
        <h3>The Interactive Institute</h3>
        <h4>The Power-Aware Cord</h4>
      </div>
    <% end %>

    <% link_to 'projects/microwave.html', :class => 'project-item' do %>
      <img src="/images/projects/12.png">
      <div class="project-text">
        <h3>Electrolux (Thesis Work)</h3>
        <h4>Concept Halogen Microwave Oven</h4>
      </div>
    <% end %>

  </div>  
</div>