<h4 class="scroll-link" id="scroll-link-3"></h4>

<div class="portfolio-with-text-container">
  <%= partial "triangle" %>
	
  <h1>Portfolio</h1>
  <h2>A selected list of projects and design work. Many recent projects are not displayed since they are still confidential. All graphic design made by me unless stated otherwise.</h2>

  <%= partial "portfolio-content" %>

</div>
