<h4 class="scroll-link" id="scroll-link-4"></h4>

<div class="resume-container">
  <%= partial "triangle" %>
  
  <div class="resume">
    <div class="resume-header">
      <h1>Resume</h1>
      <h2>A list of companies, schools and courses I have attended.</h2>
    </div>

      <%= partial "resume_content" %>

    <a href="/resume_print.html" class="resume-print-link">
      <img src="/images/printer.svg" alt="">
    </a>
        
    <p class="blurb"><a href="https://robots.thoughtbot.com/be-a-good-designer-be-a-good-client">– A good designer is a good teacher</a></p>
  </div>
</div>