<h4 class="scroll-link" id="scroll-link-4"></h4>

<div class="resume-container">
  
  <div class="resume">
    <div class="resume-header">
      <h1>Resume</h1>
      <h2>A list of my work experience and formal training.</h2>
    </div>

      <%= partial "resume_content" %>

    <a href="/resume_print.html" class="resume-print-link">
      <img src="/images/printer.svg" alt="">
    </a>
        
  </div>
</div>
