
<div class="about-top"></div>

<h4 class="scroll-link" id="scroll-link-1"></h4>

<div class="what-i-do-container">

  <div class="what-i-do">
    <h1>What I Do</h1>
    <h2>I provide pragmatic and functional design, based on values that let you sleep well at night.</h2>
    <ul class="about-cards">
      <li class="about-cards-box-wrap">
        <div class="about-card">
          <div class="about-card-image">
            <img src="../images/placeholder_wide.svg" alt="">
          </div>
          <div class="about-card-header">
            
          </div>
          <div class="about-card-copy">
            <p><span>Interaction Design </span>Dealing with user goals, business goals and problems that need to be solved; for whom and why. This work starts with learning that is transformed and followed by sketching, prototyping and testing of different solutions.</p>
          </div>
        </div>
      </li>
      <li class="about-cards-box-wrap">
        <div class="about-card">
          <div class="about-card-image">
            <img src="../images/placeholder_wide.svg" alt="">
          </div>
          <div class="about-card-header">
            
          </div>
          <div class="about-card-copy">
            <p><span>Graphic Design </span>A look and feel that corresponds to the logical structure of a system is as important as the user's understanding of how things work. Graphics and Type is an important vessel for the user experience that dictates trust and legibility.</p>
          </div>
        </div>
      </li>
      <li class="about-cards-box-wrap">
        <div class="about-card">
          <div class="about-card-image">
            <img src="../images/placeholder_wide.svg" alt="">
          </div>
          <div class="about-card-header">
            
          </div>
          <div class="about-card-copy">
            <p><span>Frontend Design </span>Experience has taught me to always work as close as possible to production code, in order to minimize the gap between design decisions and the reality of implementation. HTML, CSS and JavaScript in its many shapes and forms are some of my favorite tools.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="about-bottom"></div>