<h4 class="scroll-link" id="scroll-link-1"></h4>
<div class="what-i-do-container">

  <%= partial "triangle" %>
  
  <div class="what-i-do">
    <h1>What I Do</h1>
    <h2>I provide pragmatic and functional design, based on real user and business needs.</h2>
    <ul class="about-cards">
      <li class="about-cards-box-wrap">
        <div class="about-card">
          <%# <div class="about-card-image">
            <img src="/images/icon-ixd.svg" alt="Interaction design icon">
          </div> %>
          <div class="about-card-header">
            
          </div>
          <div class="about-card-copy">
            <p><span>User Experience Design </span>is the transformation of user needs and business goals into products and applications. This work starts with studying and learning and is followed by sketching, prototyping and testing different solutions. Close contact with clients and end-users is the key to a successful and consistent design philosophy.</p>
          </div>
        </div>
      </li>
      <li class="about-cards-box-wrap">
        <div class="about-card">
<%#           <div class="about-card-image">
            <img src="/images/icon-gfx.svg" alt="Graphic design icon">
          </div> %>
          <div class="about-card-header">
            
          </div>
          <div class="about-card-copy">
            <p><span>Graphic Design </span> goes hand in hand with good functionality. A consistent look and feel that corresponds to the logical structure of a system helps users understand how things work. Graphics and type are vessels for the user experience that dictate legibility and&nbsp;trust.</p>
          </div>
        </div>
      </li>
      <li class="about-cards-box-wrap">
        <div class="about-card">
<%#           <div class="about-card-image">
            <img src="/images/icon-frontend.svg" alt="Frontend development icon">
          </div> %>
          <div class="about-card-header">
            
          </div>
          <div class="about-card-copy">
            <p><span>Frontend Design </span>is the process of securing quality of interactions and graphics. As a designer it is essential to work with production code (or as close as possible) to minimize the gap between design decisions and the reality of implementation. HTML, CSS and JavaScript in its many shapes and forms are some of my favorite tools.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- <div class="about-bottom"></div> -->
