---
layout: layout-resume-print
---

<div class="resume-print">
  <aside>
    <h1>Magnus Gyllenswärd</h1>
    <p>magnus.gyllensward@gmail.com</p>
    <p>magnusgyllensward.com</p>
    <p>Rörstrandsgatan 56A, Stockholm</p>
    <p><span>070–5415063</span></p>
  </aside>

  <article>
    <%= partial "resume_content" %>
  </article>
</div>
